.body{
    margin: 0px;
    padding: 0px    ;
}
.main{
    /* padding-left: 10%;
    padding-right: 10%; */
    margin: 0px;
    padding-top: 5%;
    background-color: rgba(35, 87, 1, .3); 
}
.button{
    border-radius: 15px;
    height: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 0px;
    font-size: 30px;
}

.head{
    padding-left: 10%;
    padding-right: 10%;
    
    display: flex;
    justify-content: space-between;
    padding-bottom: 12%;
}

.title{
    font-weight: lighter;
    font-size: 100px;
    color:#570401;
    letter-spacing: 100px;
}

.intro{
    font-size: 20px;
    color:rgb(0, 73, 77);
}

.service{
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(250, 237, 237);
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    
}
.service h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#570401;
}
.serviceintro{
    font-size: 40px;
    
}

.servicecards{
    display: flex; 
    flex-direction: row;
    /* align-items: center; */
    gap:20px;
    text-align: center;
    justify-content: center;
}

.need{
    padding-bottom: 10%;
    padding-top: 5%;
    text-align: center;
}
.need h1{
    font-size: 50px;
    color:#570401;

}
.need h2{
    font-size: 35px;
    color:#570401;
    letter-spacing: 5px;
    margin-right: 100px;
    background-color:  rgb(250, 237, 237);
}
.need p{
    font-size: 20px;
    color:rgb(0, 73, 77);
}

.needbody{
    display: flex;
    justify-content: center;
    flex: row;
}
.part1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
