.img{
    height:500px;
    width:400px;
    border:1px solid lightgray;
    border-radius:5px;
    padding: 15px;
    background-color: lightgray;
}
.main{
    margin: 5%;
    border: 1px solid lightgray;
    padding: 2%;
    /* padding-left: 5%;
    padding-right: 5%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    /* justify-content: center; */
    align-items: center;
}

.list{
    display: flex;
    flex-direction: column;
    border:1px solid lightgray;
    border-radius:5px;
    padding: 20px;
    justify-content: center;
}
.list  ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    
}
.button{
    height: 50px;
    border: 1px solid lightgray;
    color:rgba(255, 255, 255, 0)
}
.button:hover{
    padding-right:10px;
    font-weight: bolder;
    color: rgba(255, 255, 255,1);
    box-shadow: 3px 3px 1px rgb(64, 20, 20);
    
}
.button:hover > .opacity{
    opacity: 1;
}
.opacity{
    opacity: 0;
    background-color: rgb(187, 232, 220);
    border: 0px;
    font-weight: bolder;
    align-items: center;
    
}

.download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}