

p{ 
    opacity: .6;
}
h2{
    text-align: center;
}

.padding{
   padding:2%;
   display: flex;
   flex-direction: column;
   height: fit-content;
}
.padding > div{
    border: 2px solid black;
    align-items: center;
}


.flex{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.flex > div{
    display: flex;
    justify-content: space-between;
    /* gap: 150px; */
}
.flexCol1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 1px solid rgb(0, 0, 0,.25);
    padding: 2%;
    margin: 2%;
}
.reverse{
    display: flex;
    justify-content: space-evenly;
}
.reverse > div {
    border: 1px solid rgb(0, 0, 0,.25);
    max-width: fit-content;
    margin: 1%;
    padding: 1%;
}
